@mskeros:registry=https://mseng.pkgs.visualstudio.com/_packaging/Keros/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 3/13/2018.
; begin auth token
//mseng.pkgs.visualstudio.com/_packaging/Keros/npm/registry/:_authToken=${AUTH_TOKEN}
//mseng.pkgs.visualstudio.com/_packaging/Keros/npm/:_authToken=${AUTH_TOKEN}
; end auth token
